body {
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
}

nav li {
  background: white;
  padding: 10px;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
}

h1 {
  background: lightgray;
}

header {
  position: sticky;
  top: 0;
}

footer {}

article {
  margin: 10px;
}

#contact {
}

#navbar {
  margin: auto;
  padding: 10px;
  background: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#me-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}

.me-article {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "img desc"
    "img desc"
    "live-view live-view";
}

#cs-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; */
}

.cs-article {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "img desc"
    "img desc"
    "live-view code";
}

.article-img {
  grid-area: img;
}

.article-desc {
  grid-area: desc;
}

.live-view {
  grid-area: live-view;
}

.view-code {
  grid-area: code;
}

@media only screen and (max-width: 768px) {
  #me-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #cs-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .cs-article {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 5fr;
    grid-template-rows: auto;
    grid-template-areas:
      "img"
      "desc"
      "live-view"
      "code";
  }

  .me-article {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 5fr;
    grid-template-rows: auto;
    grid-template-areas:
      "img"
      "desc"
      "live-view";
  }

  nav a {
    font-size: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
